server {
    server_name {{ inventory_hostname }};

    access_log /var/log/nginx/{{ inventory_hostname }}.access.log;

    location / {
        proxy_set_header Host $host;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_pass http://localhost:8080;
        proxy_read_timeout  90;

        proxy_redirect http://localhost:8080 https://{{ inventory_hostname }};
    }

    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
    if ($host = {{ inventory_hostname }}) {
        return 301 https://$host$request_uri;
    }

    server_name {{ inventory_hostname }};
    listen 80;
    return 404;
}